<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <div id="app">
        <!-- HTml DOM template -->
        <h2>What did you get in VueJS</h2>
        Your score : <input type="text" v-model="score">
        <p v-if="score<0||score>100">Invalid</p>
        <p v-else-if="score>=70">PASS!</p>
        <p v-else>Fail!!</p>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                //變數放這
                message: 'Hello!',
                score: 100,
                loading: false,
            },
        });
    </script>
</body>

</html>