<ul class="nav navbar-nav navbar-right">
    <li>
        <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="SetLanguage" asp-route-CultureName="en-US">@CoreMVCCategoryProduct.Resources.Resource1.English</a>
    </li>
    <li>
        <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="SetLanguage" asp-route-CultureName="zh-TW">@CoreMVCCategoryProduct.Resources.Resource1.Chinese</a>
    </li>
</ul>