@import url(https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&display=swap);
@font-face {
    font-family: font1;
    src: url(../fonts/JustOldFashion.ttf);
}
@font-face {
    font-family: font2;
    src: url(../fonts/SCRIPTIN.ttf);
}

.font {
    font-family: font1;
}
.font2 {
    font-family: font2;
}
.font3{
    font-family: 'Courier New', Courier, monospace;
}
.font4{
    font-family: 'Dancing Script', cursive
}
