@model CustomerOrders.Models.Customer

<h2>客戶訂單</h2>

<div class="form-group row">
    <label class="col-sm-1 control-label">客戶:</label>
    <select asp-for="CustomerId" class="form-control" asp-items="@ViewBag.CustomerId">
        <option>--請選擇--</option>
    </select>
</div>

<div id="Orders"></div>

@section scripts {
    <script>
        $("#CustomerId").bind("change", function() {
            UpdateOrders();
        });
        function UpdateOrders() {
          $.ajax({
              type: "GET",
              url: "@Url.Action("Orders", "Customers")/" + CustomerId.value,
          }).done(function (result) {
            $("#Orders").html(result);
          }).fail(function (e) {
            alert(e.responseText);
          });
        }
    </script>
}
