#leftbox {
    border: 3px dashed #ccc;
    width: 240px;
    height: 240px;
    padding: 5px;
    float: left;
    margin-right: 20px;
}

#rightbox {
    border: 3px dashed cadetblue;
    width: 240px;
    height: 240px;
    padding: 5px;
    float: left;

}