@{
    ViewData["Title"] = "Home Page";
}



@section Styles
{
    <style>
        div{
            background-color:gainsboro;
        }

    </style>

}









<div class="text-center">
    <h1 id="h1" class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>



@section Scripts
{
    @{
        <script>

            alert($("#h1").text());
        </script>
    }

}