<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <div id="app">
        <select v-model="selectedYear">
            <option v-for="year in years">
                {{ year }}
            </option>
        </select>
        <select v-model="selectedMonth">
            <option v-for="month in 12">
                {{ month }}
            </option>
        </select>
        <select v-model="selectedDay">
            <option v-for="day in 31">
                {{ day}}
            </option>
        </select>
        <ul>
            <li v-for="(month,index) in months">
                {{index}} : {{ month }}
            </li>
        </ul>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                //變數放這
                message: 'Hello!',
                colors: ['red', 'green', 'yellow', 'orange', 'blue', 'purple', 'indigo'],
                months: ['1', '2', '3', '4', '5', '6'],
                years: [2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025],
                selectedYear: new Date().getFullYear(),
                selectedMonth: new Date().getMonth() + 1,
                selectedDay: new Date().getDate(),
            },
        });
        // switch(month){
        //     case 1:
        //     case 3:
        //     case 5:
        //     case 7:
        //     case 8:
        //     case 10:
        //     case 12:
        //         days=31;
        //         break;
        //     case 4:
        //     case 6:
        //     case 9:
        //     case 11:
        //         days=30;
        //         break;
        //     default:
        //         day=28; //28或29
        // }
    </script>
</body>

</html>