<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <div id="app">
        <h2>現在時間：{{now}}</h2>
        <p>
            Weight:
            <input v-model="weight">
        </p>

        <p>
            Height:
            <input v-model="height">
        </p>
        Your BMI is <span>{{calculate}}</span>

    </div>
    <script>
        // BMI-->體重(公斤)/([身高/100])的平方
        new Vue({

            el: '#app',
            data: {
                //變數放這
                message: 'Hello!',
                weight: 0,
                height: 1,
                // BMI: this.weight / Math.pow(this.height / 100, 2), (錯誤位置

            },
            methods: {
                //大部分函數方法放這裡!

            },
            computed: {
                //函數也可以放這裡，但是放在這的函數。不能傳參數，一定要有回傳值。
                calculate(){
                    if(this.weight > 0&&this.height > 0){
                        const BMI= this.weight/ Math.pow(this.height / 100, 2);
                        return BMI.toFixed(2);
                    }
                    else{
                    return 0;
                    }
                },
                now(){
                    let doNothimg=this.weight+this.height;
                    return new Date ().toTimeString();
                }
            },
        });
        // 函數三部曲： 宣告、定義、呼叫
        // 但是JS函數，定義寫一起，有4種可能：
        // (1).不傳參數，沒回傳值
        //     function temp() {宣告+定義
                // console.log(5);
        //     }
        // 呼叫： temp();
        // (2).有傳參數，沒回傳值
        //     function temp(n) {宣告+定義
            // console.log(5 * n);
            //     }
            // 呼叫： temp(100);
            
            // (3).有傳參數，有回傳值
            //     function temp(n) {宣告+定義
                // console.log(5 * n);
                // return true;
                //     }
                // 呼叫： temp(100);
                // (4).不傳參數，有回傳值  這種方法只能寫computed
                //     function () {宣告+定義
                    // console.log(5 );
                    // return true;
        //     }
        // 呼叫：let ans= temp();
    </script>
</body>

</html>