@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<cache expires-after="@TimeSpan.FromSeconds(10)">@DateTime.Now</cache>

<img src="~/images/LittleSoldier.jpg" asp-append-version="true">
<button type="button"><i class="fa fa-home"></i> Home</button>
<div class="fa">
    <button type="button"><i class="fas fa-sync fa-spin"></i> 重新整理</button>
</div>

<environment names="Development">
    <p>IWebHostEnvironment.EnvironmentName is Development</p>
</environment>
